<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Almacen</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontControlador</display-name>
    <servlet-name>FrontControlador</servlet-name>
    <servlet-class>com.curso.controller.FrontControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControlador</servlet-name>
    <url-pattern>/FrontControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarServlet</display-name>
    <servlet-name>BuscarServlet</servlet-name>
    <servlet-class>com.curso.servlet.BuscarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarServlet</servlet-name>
    <url-pattern>/BuscarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarServlet</display-name>
    <servlet-name>ListarServlet</servlet-name>
    <servlet-class>com.curso.servlet.ListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarServlet</servlet-name>
    <url-pattern>/ListarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertarServlet</display-name>
    <servlet-name>InsertarServlet</servlet-name>
    <servlet-class>com.curso.servlet.InsertarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarServlet</servlet-name>
    <url-pattern>/InsertarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarServlet</display-name>
    <servlet-name>EliminarServlet</servlet-name>
    <servlet-class>com.curso.servlet.EliminarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarServlet</servlet-name>
    <url-pattern>/EliminarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarServlet</display-name>
    <servlet-name>ModificarServlet</servlet-name>
    <servlet-class>com.curso.servlet.ModificarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarServlet</servlet-name>
    <url-pattern>/ModificarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProductoServlet</display-name>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <servlet-class>com.curso.servlet.ModificarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <url-pattern>/ModificarProductoServlet</url-pattern>
  </servlet-mapping>
</web-app>